@import "tailwindcss";
/* :root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --primary-color: #DAD7CD;
  --secondary-color: #344E41;
  --accent-color-1: #3A5A40;
  --accent-color-2: #588157;
  
  --color-bg: var(--primary-color);
  --color-text: var(--secondary-color);
  --nav-bg-color: var(--accent-color-2);
  --nav-text-color:var(--primary-color);
  --nav-border-color:var(--accent-color-1);
  --button-bg-color: var(--secondary-color);
  --button-text-color:var(--primary-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-elegance-palette-white: #FFFFFF;
  --color-elegance-palette-grey: #E5E5E5;
  --color-elegance-palette-orange: #FCA311;
  --color-elegance-palette-navy: #14213D;
  --color-elegance-palette-black: #000000;

  --color-primary-navy: var(--color-elegance-palette-navy);
  --color-primary-white: var(--color-elegance-palette-white);
  --color-secondary-black: var(--color-elegance-palette-black);
  --color-secondary-grey: var(--color-elegance-palette-grey);
  --color-accent-orange: var(--color-elegance-palette-orange);
}

@layer utilities {
  .navItem{
    display: inline-block;
    padding: 12px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .navItemBurger{
    display: inline-block;
    padding: 12px;
    width: 100%;
    height: 100%;
    text-align: center;    
  }

  .showMenu {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center; 
  }
  .hideMenu {
    display: none;
  }
}

* {
  box-sizing: border-box;
}



@media (width < 40rem) {
  margin-inline: 0;
}